.vscode/
env.yml

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.out
**/*.run.xml
**/*.snm
**/*.toc
**/*.bib.bak
**/*.bib.sav.tmp

**/__pycache__/
**/*.py
**/*.mat
computation/apf1-times/
computation/apf2-times/
computation/trick/
